:host {
  .userName {
    font-size: 0.9rem;
  }

  .userEmail {
    font-size: 0.9rem;
  }

  .card-container {
    position: relative;
    height: 150px;
    width: 150px;
    padding: 16px;

    .option-card {
      min-height: 100%;
      min-width: 100%;
      cursor: pointer;

      span {
        font-size: 0.9rem;
        color: #757575;
        text-align: center;
      }

      .mat-icon {
        font-size: 50px;
        width: 50px;
        height: 50px;
        opacity: 0.6;
      }
    }
  }

  .home-menu-container {
    margin-top: 100px;
  }

}
