<mat-toolbar color="primary">
  <mat-toolbar-row fxLayout="row">
    <div fxFlex="50" fxLayout="row" fxLayoutAlign="start center">
      <div class="userName">{{userName}} - {{userEmail}}</div>
    </div>
    <div fxFlex="50" fxLayout="row" fxLayoutAlign="end center">
      <button mat-icon-button aria-label="Logout button" (click)="logout()" title="Cerrar sesion">
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<div fxLayout="row wrap" fxLayoutAlign="center center" class="home-menu-container">

  <div class="card-container" (click)="pantallaControlDeMesas()">
    <mat-card class="option-card" fxLayout="column" fxLayoutAlign="center center">
      <img src="assets/icons8-restaurant-table-48.png"/>
      <span>Mesas</span>
    </mat-card>
  </div>

  <div class="card-container" (click)="pantallaMenuProductos()">
    <mat-card class="option-card" fxLayout="column" fxLayoutAlign="center center">
      <img src="assets/icons8-restaurant-menu-64.png"/>
      <span>Menu</span>
    </mat-card>
  </div>

  <div class="card-container" (click)="tomarOrden()">
    <mat-card class="option-card" fxLayout="column" fxLayoutAlign="center center">
      <img src="assets/icons8-list-64-2.png"/>
      <span>Ordenes</span>
    </mat-card>
  </div>

  <div class="card-container">
    <mat-card class="option-card" fxLayout="column" fxLayoutAlign="center center">
      <img src="assets/icons8-chef-48.png"/>
      <span>Cocina</span>
    </mat-card>
  </div>

  <div class="card-container">
    <mat-card class="option-card" fxLayout="column" fxLayoutAlign="center center">
      <img src="assets/icons8-pos-terminal-48.png"/>
      <span>Facturar</span>
    </mat-card>
  </div>

  <div class="card-container">
    <mat-card class="option-card" fxLayout="column" fxLayoutAlign="center center">
      <img src="assets/icons8-deposit-64.png"/>
      <span>Corte de caja</span>
    </mat-card>
  </div>

</div>
