<!--Toolbar-->
<mat-toolbar color="primary">
  <mat-toolbar-row fxLayout="row">
    <div fxFlex="50" fxLayout="row" fxLayoutAlign="start center">
      <button mat-icon-button aria-label="Logout button" (click)="goToHome()" title="Regresar al inicio">
        <mat-icon>keyboard_backspace</mat-icon>
      </button>
      <div class="pantalla-titulo">Control de mesas</div>
    </div>
    <div fxFlex="50" fxLayout="row" fxLayoutAlign="start center">

      <div fxFlex class="search-bar" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon>search</mat-icon>
        <input fxFlex placeholder="Buscar mesas" type="text" [(ngModel)]="searchInput" (keyup)="buscar()"/>
      </div>

      <button mat-icon-button aria-label="Logout button" (click)="goToHome()" title="Ir al inicio">
        <mat-icon>home</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<div class="mesas-items-container">

  <mat-progress-bar mode="indeterminate" class="progress-bar" *ngIf="cargandoMesas"></mat-progress-bar>

  <div class="card-container" *ngFor="let mesa of listadoMesas" (click)="actualizarMesa(mesa)">
    <mat-card class="option-card" fxLayout="column" fxLayoutAlign="center center">
      <span class="mesa-descripcion">Mesa</span>
      <span class="mesa-numero">{{mesa.numeroMesa}}</span>
      <span class="mesa-estado disponible">{{mesa.mesaEstadoNombre}}</span>
    </mat-card>
  </div>


  <div class="card-container" (click)="crearMesa()">
    <mat-card class="option-card" fxLayout="column" fxLayoutAlign="center center">
      <span class="mesa-descripcion">Agregar</span>
      <span class="material-icons agregar-mesa">add</span>
    </mat-card>
  </div>

</div>
