<div mat-dialog-content>
  <div class="seleccionar-cantidad">
    <span>Cantidad:</span>
    <input type="number" [(ngModel)]="cantidad" />
  </div>
</div>
<div mat-dialog-actions>
  <div class="dialog-actions">
    <button mat-button (click)="cancelar()">Cancelar</button>
    <button mat-button (click)="agregar()">Agregar</button>
  </div>
</div>
