<h1 mat-dialog-title>Agregar mesa</h1>
<div mat-dialog-content>
  <form [formGroup]="formulario" fxLayout="column" fxLayoutAlign="start">

    <mat-form-field appearance="outline">
      <mat-label>Numero de mesa</mat-label>
      <input matInput type="number" formControlName="numeroMesa" autocomplete="off" readonly/>
      <mat-error>
        Campo requerido
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Cantidad maxima de personas</mat-label>
      <input matInput type="number" formControlName="cantidadMaximaPersonas" autocomplete="off"/>
      <mat-error>
        Campo requerido
      </mat-error>
    </mat-form-field>

  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancelar()">Cancelar</button>
  <button mat-button (click)="aceptar()" [disabled]="formulario.invalid">Agregar</button>
</div>
