<h2 mat-dialog-title>Seleccionar tipo de pago</h2>
<div mat-dialog-content>
  <table>
    <tr>
      <td>
        Tipo de pago
      </td>
      <td>
        <select [(ngModel)]="tipoDePagoSeleccionado" (change)="validarTipoPago()">
          <option *ngFor="let tipo of tipos" [value]="tipo">{{tipo}}</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>
        Monto de la compra
      </td>
      <td>
        <input type="number" readonly [(ngModel)]="montoCompra"/>
      </td>
    </tr>
    <tr *ngIf="tipoDePagoSeleccionado">
      <td>
        Monto recibido
      </td>
      <td>
        <input type="number" [(ngModel)]="montoRecibido" (keyup)="calcularVuelto()"
               [disabled]="bloquearCampoMontoRecibido"/>
      </td>
    </tr>
    <tr *ngIf="tipoDePagoSeleccionado">
      <td>
        Vuelto
      </td>
      <td>
        <input type="number" readonly [(ngModel)]="vuelto"/>
      </td>
    </tr>
  </table>

</div>
<div mat-dialog-actions>
  <div class="dialog-actions">
    <button mat-button (click)="cancelar()">Cancelar</button>
    <button mat-button (click)="pagar()">Agregar</button>
  </div>
</div>
