<div class="login-container" fxLayout="column">

  <div fxLayout="row" fxLayoutAlign="center center">
    <h2>Bienvenidos</h2>
  </div>

  <div fxLayout="row" fxLayoutAlign="center center">
    <p>Ingresar con usuario y clave</p>
  </div>

  <form name="loginForm" [formGroup]="loginForm" novalidate>
    <div fxLayout="row" fxLayoutAlign="center center">
      <mat-form-field appearance="outline"
                      fxFlex.xs="100"
                      fxFlex.sm="50"
                      fxFlex.md="40"
                      fxFlex.lg="30">
        <mat-label>Usuario</mat-label>
        <input matInput formControlName="email" type="text">
        <mat-icon matSuffix class="secondary-text">mail</mat-icon>
        <mat-error>
          Email es requerido
        </mat-error>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="center center">
      <mat-form-field appearance="outline"
                      fxFlex.xs="100"
                      fxFlex.sm="50"
                      fxFlex.md="40"
                      fxFlex.lg="30">
        <mat-label>Password</mat-label>
        <input matInput
               formControlName="password"
               [type]="ocultarPassword ? 'password' : 'text'"
               (keyup.enter)="login()">
        <mat-icon matSuffix
                  class="secondary-text show-password-icon"
                  (click)="ocultarPassword = !ocultarPassword">
          {{ocultarPassword ? 'visibility_off' : 'visibility'}}
        </mat-icon>
        <mat-error>
          Password es requerido
        </mat-error>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="center center">
      <button mat-raised-button
              color="primary"
              [disabled]="loginForm.invalid"
              (click)="login()">
        Ingresar
      </button>
    </div>
  </form>

</div>
