:host {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  position: relative;
  height: 100%;

  .orden-info {
    width: 40%;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;

    .encabezado-orden {
      height: 100px;
      display: flex;
      display: -webkit-flex;
      flex-direction: column;
      -webkit-flex-direction: column;
      position: relative;

      .para-llevar-toggle {
        display: flex;
        display: -webkit-flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 5px;
      }

      .cliente-info {
        position: relative;
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        -webkit-flex-direction: column;
        padding-top: 10px;

        .nit-nombre-container {
          display: flex;
          display: -webkit-flex;
          flex-direction: row;
          -webkit-flex-direction: row;

          .cliente-nit {
            width: 50%;
            padding-right: 5px;
            padding-left: 5px;

            input {
              width: calc(100% - 10px);
            }
          }

          .cliente-nombre {
            width: 50%;
            padding-left: 5px;
            padding-right: 5px;

            input {
              width: calc(100% - 10px);
            }
          }
        }

        .cliente-direccion {
          padding-left: 5px;
          padding-right: 5px;

          input {
            width: calc(100% - 10px);
          }
        }

      }

      .seleccionar-mesa-container {
        display: flex;
        display: -webkit-flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        padding-top: 5px;
        padding-left: 5px;
        padding-right: 5px;

        .mat-form-field {
          width: calc(100% - 10px);
        }
      }
    }

    .detalle-orden {
      flex-grow: 100;
      -webkit-flex-grow: 100;
      display: flex;
      display: -webkit-flex;
      flex-direction: column;
      -webkit-flex-direction: column;
      position: relative;

      .detalle-orden-wrapper {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: auto;
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        -webkit-flex-direction: column;

        table {
          border-collapse: collapse;
          width: 100%;
        }

        .orden-detalle-table {

          th {
            color: rgba(0, 0, 0, .54);
          }

          th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid rgba(0, 0, 0, .12);
          }
        }
      }
    }

    .totales-orden {
      height: 100px;
      display: flex;
      display: -webkit-flex;
      flex-direction: row;
      -webkit-flex-direction: row;
      justify-content: center;
      align-items: center;

      .totales {
        font-size: 1.3em;

        &.descripcion {
          margin-left: 5px;
        }

        &.monto {
          margin-left: 10px;
        }
      }

      .boton-pagar-container {
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        -webkit-flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-grow: 100;
        margin-left: 15px;

        .mat-raised-button {
          background-color: #2e7d32;
        }
      }
    }

  }

  .menu-productos {
    background-color: aliceblue;
    width: 60%;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;

    .menu-productos-titulo {
      padding-top: 5px;
      padding-bottom: 5px;
      display: flex;
      display: -webkit-flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      position: relative;

      span {
        font-size: 1.1rem;
      }

      .back-to-categories-button {
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    .productos-container {
      display: flex;
      display: -webkit-flex;
      flex-direction: column;
      -webkit-flex-direction: column;
      flex-grow: 1;
      position: relative;

      .productos-wrapper {
        display: flex;
        display: -webkit-flex;
        flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        overflow: auto;
        position: absolute;
        width: 100%;
        height: 100%;

        .item-container {
          position: relative;
          height: 125px;
          width: 125px;
          padding: 16px;

          .item-card {
            cursor: pointer;
            min-height: 100%;
            min-width: 100%;
            background: #fff;
            overflow: hidden;
            z-index: 10;
            padding: 16px;

            .item-descripcion {
              color: rgba(0, 0, 0, .54);
              font-size: 16px;
              font-weight: 500;
              text-align: center;
            }
          }
        }

      }
    }
  }

  .progress-bar {
    top: 0;
    position: absolute;
  }

}
