<mat-progress-bar mode="indeterminate" class="progress-bar" *ngIf="mostrarBarraProgreso"></mat-progress-bar>

<div class="orden-info">
  <div class="encabezado-orden">

    <div class="para-llevar-toggle">
      <mat-slide-toggle [(ngModel)]="ordenParaLlevar">Para llevar</mat-slide-toggle>
    </div>

    <div class="cliente-info" *ngIf="ordenParaLlevar" fxLayout="column">
      <div class="nit-nombre-container">
        <div class="cliente-nit">
          <input [(ngModel)]="clienteNit" type="text" placeholder="NIT"/>
        </div>
        <div class="cliente-nombre">
          <input [(ngModel)]="clienteNombre" type="text" placeholder="Nombre del cliente"/>
        </div>
      </div>

      <div class="cliente-direccion">
        <input [(ngModel)]="clienteDireccion" type="text" placeholder="Direccion del cliente"/>
      </div>
    </div>

    <div class="seleccionar-mesa-container" *ngIf="!ordenParaLlevar">
      <mat-form-field>
        <mat-label>Seleccionar mesa</mat-label>
        <mat-select [(ngModel)]="mesaSeleccionada">
          <mat-option>Ninguna</mat-option>
          <mat-option *ngFor="let mesa of mesas" [value]="mesa.id">
            Mesa {{mesa.numeroMesa}} (max {{mesa.cantidadMaximaPersonas}} personas)
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

  </div>

  <div class="detalle-orden">

    <div class="detalle-orden-wrapper">
      <table class="orden-detalle-table">
        <tr>
          <th>
            Producto
          </th>
          <th>
            Precio
          </th>
          <th>
            Cantidad
          </th>
          <th>
            Total
          </th>
        </tr>
        <tr *ngFor="let row of detalleOrden">
          <td>{{row.productoNombre}}</td>
          <td>{{row.productoPrecio}}</td>
          <td>{{row.cantidad}}</td>
          <td>{{row.total}}</td>
        </tr>
      </table>

    </div>

  </div>

  <div class="totales-orden">
    <span class="totales descripcion">Total de la orden:</span>
    <span class="totales monto">Q {{totalOrden}}</span>

    <div class="boton-pagar-container">
      <button mat-raised-button
              [disabled]="totalOrden <= 0"
              *ngIf="ordenParaLlevar"
              (click)="pagar()">
        PAGAR
      </button>

      <button mat-raised-button [disabled]="totalOrden <= 0"
              *ngIf="!ordenParaLlevar"
              (click)="finalizarOrden()">
        FINALIZAR ORDEN
      </button>
    </div>
  </div>
</div>

<div class="menu-productos">

  <div class="menu-productos-titulo">

    <button mat-icon-button
            aria-label="Back to categories button"
            class="back-to-categories-button"
            (click)="regresarACategorias()"
            *ngIf="!mostrarCategorias">
      <mat-icon>keyboard_backspace</mat-icon>
    </button>
    <span *ngIf="mostrarCategorias">Categorias</span>
    <span *ngIf="!mostrarCategorias">{{categoriaActual.categoriaNombre}}</span>
  </div>

  <div class="productos-container">

    <div class="productos-wrapper" *ngIf="mostrarCategorias">

      <div class="item-container" *ngFor="let categoria of categorias" (click)="buscarProductos(categoria)">
        <mat-card class="item-card" fxLayout="column" fxLayoutAlign="center center">
          <span class="item-descripcion">{{categoria.categoriaNombre}}</span>
        </mat-card>
      </div>

    </div>

    <div class="productos-wrapper" *ngIf="!mostrarCategorias">

      <div class="item-container" *ngFor="let producto of productos" (click)="agregarAOrden(producto)">
        <mat-card class="item-card" fxLayout="column" fxLayoutAlign="center center">
          <span class="item-descripcion">{{producto.productoNombre}}</span>
        </mat-card>
      </div>

    </div>

  </div>

</div>
